@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 244, 228;
  --background-start-rgb: 181, 37, 1;
  --background-end-rgb: 162, 33, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 244, 228;
    --background-start-rgb: 143, 29, 0;
    --background-end-rgb: 41, 8, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url('../public/BG.webp');
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
